In [1]:
# Dependencies
import pandas as pd

In [2]:
# Economic Freedom Data from Kaggle as: https://www.kaggle.com/gsutters/economic-freedom#efw_cc.csv
# Store the economics freedom filepath in a variable
econ_free = "data/efw_cc.csv"

In [3]:
# Read our the Economic Freedom of the World Dataset with the pandas library
econ_free_df = pd.read_csv(econ_free)

In [10]:
# Show just the header
# econ_free_df.head()
# Show just the columns
econ_free_df.columns

Index(['year', 'ISO_code', 'countries', 'ECONOMIC FREEDOM', 'rank', 'quartile',
       '1a_government_consumption', '1b_transfers', '1c_gov_enterprises',
       '1d_top_marg_tax_rate', '1_size_government', '2a_judicial_independence',
       '2b_impartial_courts', '2c_protection_property_rights',
       '2d_military_interference', '2e_integrity_legal_system',
       '2f_legal_enforcement_contracts', '2g_restrictions_sale_real_property',
       '2h_reliability_police', '2i_business_costs_crime',
       '2j_gender_adjustment', '2_property_rights', '3a_money_growth',
       '3b_std_inflation', '3c_inflation', '3d_freedom_own_foreign_currency',
       '3_sound_money', '4a_tariffs', '4b_regulatory_trade_barriers',
       '4c_black_market', '4d_control_movement_capital_ppl', '4_trade',
       '5a_credit_market_reg', '5b_labor_market_reg', '5c_business_reg',
       '5_regulation'],
      dtype='object')

In [11]:
econ_free_reduced_df = pd.DataFrame(econ_free_df[["year", "countries", "ECONOMIC FREEDOM", "rank", 
                                                  "quartile", "2e_integrity_legal_system", "3c_inflation",
                                                  "5_regulation"]])

In [12]:
econ_free_reduced_df.head()

,year,countries,ECONOMIC FREEDOM,rank,quartile,2e_integrity_legal_system,3c_inflation,5_regulation
0,2016,Albania,7.54,34.0,1.0,4.166667,9.74360,6.906901
1,2016,Algeria,4.99,159.0,4.0,5.000000,8.72046,5.268992
2,2016,Angola,5.17,155.0,4.0,4.166667,3.05400,5.518500
3,2016,Argentina,4.84,160.0,4.0,3.333333,2.00000,5.369019
4,2016,Armenia,7.57,29.0,1.0,5.000000,9.74600,7.378069