In [5]:
import csv
import os
import pandas as pd

healthcare_spending = pd.read_csv("Data/Health Expenditure.csv",skiprows=4)

healthcare_spending = healthcare_spending[["Country Name","Country Code","Indicator Name", "2012"]]

healthcare_spending.head()

  Country Name Country Code                         Indicator Name       2012
0        Aruba          ABW  Current health expenditure (% of GDP)        NaN
1  Afghanistan          AFG  Current health expenditure (% of GDP)   7.897168
2       Angola          AGO  Current health expenditure (% of GDP)   2.692890
3      Albania          ALB  Current health expenditure (% of GDP)   5.848301
4      Andorra          AND  Current health expenditure (% of GDP)  10.046941

In [3]:
happiness_report = pd.read_csv("Data/world-happiness-report-2005-2018 3.csv",delimiter=";")

#cols=["WVS round 1981-1984;Most people can be trusted"]
#happiness_report.drop(cols,axis=1,inplace=True)
happiness_report = happiness_report[["Country name","Year","Life Ladder","Log GDP per capita","Social support","Healthy life expectancy at birth","Freedom to make life choices","Generosity","Perceptions of corruption","Confidence in national government"]]
happiness_report = happiness_report.rename(columns={"Country name":"Country Name"})

happiness_report = happiness_report.loc[happiness_report["Year"]==2012]
happiness_report.head()

,Country Name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Confidence in national government
4,Afghanistan,2012,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620,0.435440
15,Albania,2012,5.510124,9.246655,0.784502,66.959999,0.601512,-0.172262,0.847675,0.364894
24,Algeria,2012,5.604596,9.485086,0.839397,64.820000,0.586663,-0.195859,0.690116,NaN
30,Angola,2012,4.360250,8.699498,0.752593,53.200001,0.456029,-0.124065,0.906300,0.237091
39,Argentina,2012,6.468387,9.863960,0.901776,67.660004,0.747498,-0.143875,0.816546,0.418255