In [3]:
 #Set up
import pandas as pd

#Load File
load_file = "Data/Inv_Hap.csv"

#Read File
file = pd.read_csv(load_file)

In [4]:
# PR = Political Rights
# CL = Civil Liberties


#Show DF
file

,Country,Region,Population,Happiness_Rank,Happiness_Score,Investment,PR,CL,Life_Expectancy
0,Afghanistan,Southern Asia,33736494.0,153,3.575,1.631026e+08,6,6,60.717171
1,Albania,Central and Eastern Europe,2880703.0,95,4.959,9.912597e+08,3,3,78.014463
2,Algeria,Middle East and Northern Africa,39871528.0,68,5.605,-4.033971e+08,6,5,75.042537
3,Angola,Sub-Saharan Africa,27859305.0,137,4.033,9.282168e+09,6,6,52.666098
4,Argentina,Latin America and Caribbean,43417765.0,30,6.574,1.175899e+10,2,2,76.334220
...,...,...,...,...,...,...,...,...,...
147,Venezuela,Latin America and Caribbean,31155134.0,23,6.810,3.764000e+09,5,5,74.409610
148,Vietnam,Southeastern Asia,91713300.0,75,5.360,1.180000e+10,7,5,75.777732
149,Yemen,Middle East and Northern Africa,26916207.0,136,4.077,-1.544481e+07,7,6,64.031390
150,Zambia,Sub-Saharan Africa,16100587.0,85,5.129,1.582667e+09,3,4,60.785683
151,Zimbabwe,Sub-Saharan Africa,15777451.0,115,4.610,3.992000e+08,5,5,59.161073